{{ define "main" }}
<article class="h-entry post">
  <header>
	{{ with .Title }}
    <h1 class="p-name">{{ . }}</h1>
    {{ end }}

  </header>
  <section class="e-content post-body dark">
      {{ .Content }}
  </section>
</article>
<section id="post-meta" class="clearfix">
  <a href="/">
    <img class="u-photo avatar" src="https://raw.githubusercontent.com/wpix/solid-pipix/master/avatar.jpg">
    <div>

      
      <span><a href="https://micro.blog/{{ .Site.Author.username }}">@{{ .Site.Author.username }}</a></span>
          <span class="p-author h-card dark">If there was a next life, she'd like to be a shell, just by the ocean.</span>
    </div>
  </a>
</section>
{{ end }}
