.doc_comments {
  font-size: 14px;
  color: #f1aaaa;
  margin-top: 30px;
  padding: 35px 0 45px;
}

.doc_comments .comments_block_title {
  color: #000000;
}

.v .vwrap {
  margin-top: 15px;
  border-width: 2px;
  border-color: #c2c2c2;
  border-radius: 6px !important;
    overflow: visible
}

.v .veditor {
  min-height: 4.75rem;
  min-width: 4.75rem;
}

.v .vwrap .vheader .vinput {
}

.v .vbtn {
  color: #010101;
  background-color: #ededed;
  border: none;
}

.v .vbtn:active,
.v .vbtn:hover {
  color: #010101;
  border-color: #000000;
  background-color:#ffdee3;
}

.v .power {
  display: none !important;
}

.v .vlist .vcard .vhead .vsys{
  display: none !important;
  background-color: #fff !important;
}

.v .vlist .vcard .vhead .vnick{
  color: #070707;
  font-size:16px;
}
.v .vlist .vcard .vhead .vnick:active,
.v .vlist .vcard .vhead .vnick:hover{
  color: #d47b8a;
}
.v .vlist .vcard .vh .vmeta .vat{
    color: #070707 !important;
    font-size: 14px !important;
}

