
{{ define "main" }}
{{ $baseurl := .Site.BaseURL }}
{{ $img := .Site.Params.imgurl }}


<article class="h-entry post">
  <header>
    <h3 class="p-name">{{ .Title }}</h3>
<br>
    <h5 class="p-name">{{ .Description }}</h5>
  </header>
</article>

<br>

<div class="mw-100 mw-90-l">
  <figure class="mw-100 mw-80-l flex flex-column">
    <img class="center contain"
                  srcset="https://apfbvvpren.cloudimg.io/width/550/n/{{ $img }}{{ .Params.imgurl | safeURL }} 1x,
                          https://apfbvvpren.cloudimg.io/width/825/n/{{ $img }}{{ .Params.imgurl | safeURL }} 1.5x,
                          https://apfbvvpren.cloudimg.io/width/1100/n/{{ $img }}{{ .Params.imgurl | safeURL }} 2x,
                          https://apfbvvpren.cloudimg.io/width/1650/n/{{ $img }}{{ .Params.imgurl | safeURL }} 3x,
                          https://apfbvvpren.cloudimg.io/width/2200/n/{{ $img }}{{ .Params.imgurl | safeURL }} 4x,"
                  class="" style="max-height: 78vh;">

  </figure>
</div>


<section id="post-meta" class="clearfix">
  <a href="/">
    <img class="u-photo avatar" src="https://raw.githubusercontent.com/wpix/solid-pipix/master/avatar.jpg">
    <div>
      <span><a href="https://micro.blog/{{ .Site.Author.username }}">@{{ .Site.Author.username }}</a></span>
            <span class="p-author h-card dark">If there was a next life, she'd like to be a shell, just by the ocean.</span>
    </div>
  </a>
</section>
{{ end }}