
{{ define "main" }}
{{ $baseurl := .Site.BaseURL }}
{{ $img := .Site.Params.imgurl }}


<article class="h-entry post">
  <header>
    <h3 class="p-name">{{ .Title }}</h3>
<br>
    <!-- <h5 class="p-name" align="left">{{ .Description }}</h5> -->
  </header>
</article>

<br>

<div class="mw-100 mw-90-l" align="left">

  {{ .Content }}
  
</div>

    {{ partial "leftpagination.html" . }}


<section id="post-meta" class="clearfix">
  <a href="/">
    <img class="u-photo avatar" src="https://raw.githubusercontent.com/wpix/solid-pipix/master/avatar.jpg">
    <div>
      <span><a href="https://micro.blog/{{ .Site.Author.username }}">@{{ .Site.Author.username }}</a></span>
            <span class="p-author h-card dark">If there was a next life, she'd like to be a shell, just by the ocean.</span>
    </div>
  </a>
</section>


{{ end }}
