{{ define "main" }}
<article class="h-entry post">
  <header>
    <h1 class="p-name">{{ .Title }}</h1>
  </header>
  <section class="e-content post-body">
      {{ .Content }}
  </section>
</article>
<section id="post-meta" class="clearfix">
  <a href="/">
    <img class="u-photo avatar" src="https://ying-1259150231.cos.na-ashburn.myqcloud.com/1556949033.529723SmartPic.png">
    <div>
      <span><a href="https://micro.blog/{{ .Site.Author.username }}">@{{ .Site.Author.username }}</a></span>
            <span class="p-author h-card dark">If there was a next life, she'd like to be a shell, just by the ocean.</span>
    </div>
  </a>
</section>
{{ end }}