

<!-- valine -->
<section class="w-100 ph2 ph0-ns w-100-m w-60-l mt5 center">

<!--    <span id="<Your/Path/Name>" class="leancloud-visitors" data-flag-title="Your Article Title">
    <em class="post-meta-item-text f5 gray">Article reading statistics  </em>
    <i class="leancloud-visitors-count f5 gray">1000000</i>
</span>
-->

<div class="doc_comments">
  <div class="comments_block_title b"> ✍️ Leave a Comment</div>
  &nbsp;
  <div id="vcomments"></div>
</div>
<!-- id as the query condition -->


<link rel="stylesheet" href="{{ "/css/comments.css" | absURL }}"/>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>

<script type="text/javascript">
new Valine({
  el: '#vcomments',
  appId: '{{ .Site.Params.valine.appId }}',
  appKey: '{{ .Site.Params.valine.appKey }}',
  placeholder: '{{ .Site.Params.valine.placeholder }}',
  visitor: '{{ .Site.Params.valine.visitor }}',
  lang: 'en',
  visitor: true,
})

    if(window.location.hash){
          var checkExist = setInterval(function() {
            if (document.getElementById(window.location.hash.replace("#",""))) {
              location.href = window.location.hash;
              clearInterval(checkExist);
            }
          }, 250);
        }

</script>
</section>