{{ define "main" -}} 


 <article class="br2 pa0 mw6 center">
 
 <section id="post-meta" class="clearfix">
  <a href="/">
    <img class="u-photo avatar" src="https://raw.githubusercontent.com/wpix/solid-pipix/master/avatar.jpg">
    <div>
      <span><a href="https://micro.blog/{{ .Site.Author.username }}" class="f5-ns">@{{ .Site.Author.username }} </a></span>
      <span class="p-author h-card dark f5"> A mini record of her ✍️ </span>
    </div>
  </a>
</section>

<div class="w-100 ph1 ph0-ns mt1 w-90-m w-90-lcenter">

  {{ with .Site.GetPage "section" "post" }}
    {{ range .Data.Pages.GroupByDate "2006" }}
        <h2 class="f4 f4-ns">{{ .Key }}</h2>    
            
                <ul id="list">
            {{ range  .Pages }}
        	       {{ .Render "li.archive" }}
      		  {{ end }}
                </ul>

     {{ end }}

   {{ end }}
</div>


</article>

{{- end }}
